@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

@font-face {
  font-family: 'Gaoel';
  src: local('Gaoel'), local('Gaoel Regular'),
      url('../resources/fonts/Gaoel/Gaoel.eot') format('eot'),
      url('../resources/fonts/Gaoel/Gaoel.ttf') format('ttf'),
      url('../resources/fonts/Gaoel/Gaoel.woff') format('woff');
}

@font-face {
  font-family: 'Glitch Goblin';
  src: local('Glitch Goblin'),
    url('../resources/fonts/GlitchGoblin/GlitchGoblin.ttf') format('ttf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
